<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="Description" content="find your favorite Restaurant around the world">
    <link rel="icon" href="favicon.png">
    <link rel="manifest" href="manifest.json">
    <meta name="theme-color" content="#db0000" />
    <link rel="apple-touch-icon" href="/icons/icon-192x192.png">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap" rel="stylesheet">
    <script src="https://use.fontawesome.com/b070c8f1df.js"></script>
    <title>Mermaid Resto</title>
</head>

<body>
    <a href="#mainContent" class="skip-link">Menuju ke konten</a>
    <header class="header">
        <div class="header__inner">
            <h1 class="header__title">
                Mermaid Resto
            </h1>
        </div>
        <button id="menu" aria-label="menu button" class="header__menu">☰</button>
    </header>
    <nav id="drawer" class="nav">
        <ul class="nav__list">
            <li class="nav__item"><a href="/">Home</a></li>
            <li class="nav__item"><a href="#/favorite">Favorite</a></li>
            <li class="nav__item"><a href="https://github.com/khairulanas">About Us</a></li>
        </ul>
    </nav>
    <div class="hero">
        <div class="hero__inner">
            <h1 class="hero__title">Hidup Sehat Berawal Dari Makanan Yang Sehat</h1>
            <p class="hero__tagline">Temukan Tempat Makan Favoritmu Dari Berbagai Tempat Di seluruh Dunia</p>
        </div>
    </div>

    <main id="mainContent">
        <!-- <section class="content">
            <div class="latest">
                <h1 class="latest__label">Explore Restaurant</h1>
                <div class="posts">
                   
                </div>
            </div>
        </section> -->
    </main>
    <footer>
        Copyright © 2021 - Mermaid Resto
    </footer>
</body>

</html>