<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mermaid Resto</title>
</head>

<body>
    <a href="#maincontent" class="skip-link">Menuju ke konten</a>
    <header class="header">
        <div class="header__inner">
            <h1 class="header__title">
                Mermaid Resto
            </h1>
        </div>
        <button id="menu" class="header__menu">☰</button>
    </header>
    <nav id="drawer" class="nav">
        <ul class="nav__list">
            <li class="nav__item"><a href="#">Home</a></li>
            <li class="nav__item"><a href="#">Favorite</a></li>
            <li class="nav__item"><a href="https://github.com/khairulanas">About Us</a></li>
        </ul>
    </nav>
    <div class="hero">
        <div class="hero__inner">
            <h1 class="hero__title">Hidup Sehat Berawal Dari Makanan Yang Sehat</h1>
            <p class="hero__tagline">Temukan Tempat Makan Favoritmu Dari Berbagai Tempat Di seluruh Dunia</p>
        </div>
    </div>

    <main id="maincontent">
        <section class="content">
            <div class="latest">
                <h1 class="latest__label">Explore Restaurant</h1>
                <div class="posts">
                    <!-- isi data -->
                </div>
            </div>
        </section>
    </main>
    <footer>
        Copyright © 2021 - Mermaid Resto
    </footer>
</body>

</html>